html{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    min-height: 100%;
    min-height: -webkit-fill-available;
}
a{
    text-decoration: none;
}
body{ 
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    padding: 0;
    margin: 0;
    min-height: 100vh;
    min-width: 100%;
    background-color: #f1f5f9;
    display: flex;    
}
.nav-container{
    flex-grow: 1;
    min-height:100%;
}
.sideNav{ 
    max-width: 100%;
    flex-grow: 1;
    min-height:100%;
    transition: width .5s;
    background-color: #2dd4bf;
    padding: 20px;
    z-index: 99;
   
    
}


.nav-item{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    gap: 10px ; 
    padding: 5px;
}
.nav-item:hover{

    border-radius: 5%;
    font-weight: bolder;
    background-color: #28b6a3;
    box-shadow: 0 5px 50px  rgb(231, 231, 231);
    cursor: pointer;
}
.icon{
    width: 30px;
    height: 30px;
   
}
.nav-item-text{
    display: none;
    transition: color 2s ease-out;
    align-self: center;
    color:white;
}
.content{
   
    width:80%;
    flex-grow: 7;
    overflow-y: scroll;
    padding: 20px  ;
    scroll-behavior: smooth;

}
.scroll{
    height: 300vh;
}

.skills{
    min-width: 100%;
}
.skills-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr) ;
    gap: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 1rem;
    padding: 3rem;
}
.skill-item{
    border: 1px soild gray;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    text-align: center;
    padding: 5px;
}
.skill-item:hover{
    box-shadow: 0 0 20px gray;
    background-color: #f3f4f6;
}
.skill-icon{
    width:64px;
    height: 64px;
    margin: 5px 0 0; 
}
.skill-name{
    margin:0 0 5px;
}

/* PROJECTS SECTION*/
.projects{
    width: 100%;
    
}
.projects-container{
    padding: 10px;
    background-color: #fff;
    border-radius: 1rem;
    padding: 3rem;
    box-sizing: border-box;
    width: 100%;
    height: 90%;
}
.mySlides {
    display: none;
    width:100%;
    height: 30rem;
  }
  img {
    vertical-align: middle;
  }
  .slideshow-container {
    min-width:100%;
    max-width: 100%;
    position: relative;
    
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
 
 
  .projects-icons-container{
    text-align: center;
  }
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active,
  .dot:hover {
    background-color: #111111;
  }
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  

  .custom{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .customP{
    background-color: #2dd4bf;
    width: 40%;
    padding: 1rem;
  }
  .project-image-container{
  
   width: 60% ;
   height: 100%;   
  }
  .project-image{
    width: 100% ;
    height: 100%;
    object-fit: fill;
  }

  /*CONTACT SECTION */
.contact{
    min-width: 100%;
  }
  
.form {
    background-color: white;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  }
  .title {
    font-size: 50px;
    margin-bottom: 50px;
  }
  
.inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
  }
  
.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }  
  ::placeholder {
    color: transparent;
  }
  
.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
  }
  .input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: purple;
  }
  .input:focus {
    border: 2px solid purple;
  }
  .input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
  }
textarea{
    padding-top: 5px !important;
}      
.submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: purple;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
  }
  
  .submitBtn:hover {
    background-color: #9867C5;
    transform: translateY(-2px);
  }
  
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .nav-container{
        display: none;
    }
    .prev,
    .next,
    .text {
      font-size: 11px
    }
  }

@media only screen and (max-width: 600px) {
    .nav-container{
        display: none;
    }
    .skills-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(5,1fr) ;
        gap: 10px;
    }
    .skill-icon{
        width:40px;
        height: 40px;
    } 
}